http://www.curse.com/addons/wow/protwarbar
http://www.curse.com/addons/wow/recount
http://www.curse.com/addons/wow/deadly-boss-mods
http://www.curse.com/addons/wow/deadly-boss-mods-mop
http://www.curse.com/addons/wow/deadly-boss-mods-cataclysm-mods
http://www.curse.com/addons/wow/deadly-boss-mods-wotlk
http://www.curse.com/addons/wow/dbm-bc
http://www.curse.com/addons/wow/altoholic
http://www.curse.com/addons/wow/auctioneer
http://www.curse.com/addons/wow/auto-safari-hat
http://www.curse.com/addons/wow/bad-boy
http://www.curse.com/addons/wow/bagnon
http://www.curse.com/addons/wow/bartender4
http://www.curse.com/addons/wow/battle_pet_breedid
http://www.curse.com/addons/wow/clcret
http://www.curse.com/addons/wow/clique
http://www.curse.com/addons/wow/decursive
http://www.curse.com/addons/wow/grid
http://www.curse.com/addons/wow/handynotes
http://www.curse.com/addons/wow/handynotes_draenortreasures
http://www.curse.com/addons/wow/master-plan
http://www.curse.com/addons/wow/mogit
http://www.curse.com/addons/wow/npcscan
http://www.curse.com/addons/wow/omen-threat-meter
http://www.curse.com/addons/wow/omni-cc
http://www.curse.com/addons/wow/pet-battle-teams
http://www.curse.com/addons/wow/pet-journal-enhanced
http://www.curse.com/addons/wow/petleash
http://www.curse.com/addons/wow/pettracker
http://www.curse.com/addons/wow/postal
http://www.curse.com/addons/wow/superloot
http://www.curse.com/addons/wow/tomtom